/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(90deg, rgb(255, 225, 235), rgb(245, 210, 255));
  font-family: "DM Sans";
}
