div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.celebrate {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: rgb(150, 90, 200);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  font-family: "DM Sans";
  padding: 0.5rem 1.5rem;
  min-width: 120px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.task {
  color: rgb(150, 90, 200);
  font-size: 1.6rem;
}

.room,
.user,
.celebration {
  font-weight: 500;
  font-size: 1.2rem;
}

.feed_card {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  background: rgb(255, 235, 245);
  border: 2px solid rgb(150, 90, 200);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(150, 90, 200, 0.15);
}
