.footer a {
  padding: 0.6rem 1.2rem;
  background-color: rgb(150, 90, 200);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 0.7rem;
  font-weight: 600;
  text-decoration: none;
  font-family: "DM Sans";
  padding: 0.2rem 1rem;
  min-width: 120px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.footer a:hover {
  text-decoration: none;
  background-color: rgb(54, 8, 92);
}

.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 5rem;
  margin-top: 4rem;
  gap: 1rem;
}

h4 {
  font-weight: 300;
  font-size: 0.9rem;
}
