img {
  object-fit: cover;
  max-width: 200px;
  max-width: 200px;
  border: solid 2px rgb(150, 90, 200);
  border-radius: 20px;
  margin-right: 3rem;
  box-shadow: 0 10px 10px rgba(218, 206, 228, 0.15);
  transition:
    transform 0.25s ease,
    box-shadow 0.25 ease;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(90deg, rgb(255, 225, 235), rgb(245, 210, 255));
  padding: 1.5rem 2rem;
  gap: 1rem;
  margin-bottom: 10px;
  border: solid 5px rgb(150, 90, 200);
  border-radius: 10px;
  opacity: 80%;
}

.tagline {
  font-weight: 800;
  color: rgb(150, 90, 200);
  letter-spacing: 1px;
  font-size: 2.6rem;
  margin: auto;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }

  .header img {
    margin-right: 0;
    margin-bottom: 1rem;
    max-width: 150px;
  }

  .tagline {
    font-size: 1.8rem;
    margin: 0;
  }
}
