.returnbutton {
  align-items: center;
  padding: 0.6rem 1.2rem;
  background-color: rgb(150, 90, 200);
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  font-family: "DM Sans";
  padding: 0.5rem 1.5rem;
  min-width: 120px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
}

.timer_card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.returnbutton:hover {
  text-decoration: none;
  background-color: rgb(54, 8, 92);
}

.startbutton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 0.6rem 1.2rem;
  background-color: rgb(150, 90, 200);
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  font-family: "DM Sans";
  padding: 0.5rem 1.5rem;
  min-width: 120px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.timer {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: rgb(255, 235, 245);
  color: rgb(120, 70, 170);
  font-weight: 700;
  box-shadow: 0 4px 10px rgba(150, 90, 200, 0, 1);
  border: solid rgb(120, 70, 170) 2px;
  border-radius: 8px;
}

.startbutton,
.returnbutton,
.timer {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.tasktext {
  display: block;
  font-weight: 900;
  padding: 0.5rem 1rem;
  background: rgb(255, 235, 245);
  color: rgb(120, 70, 170);
  font-weight: 700;
  box-shadow: 0 4px 10px rgba(150, 90, 200, 0, 1);
  border: solid rgb(120, 70, 170) 2px;
  border-radius: 8px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

/* always styles the  confetti overlay as a canvas: https://github.com/alampros/react-confetti */

canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  pointer-events: none;
  z-index: 9999;
}
